
.space-container-wrapper{
    max-width: 100% !important;
    padding: 0 !important;
    background-color: #f1f2f2;
    @media (min-width: 540px){
        position:  relative !important;
        top: 4rem !important;
    }
}
.space-container{
    margin: 0 4rem !important;
    padding: 1rem;
    @media (max-width: 540px){
        --Grid-columns: none !important;
        margin: 0 !important;
        padding: 0;
    }
}
.space-product-container{
    display: grid;
    grid-row-gap: 1.8rem !important;
}
.create-disc-space-card{
    display: flex;
    flex-direction: column;
    background-image: url("../../Assets/spacecardBGimg.webp");
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position-x: right;
    text-align: start;
    margin-top: 20px;
    background-color: white !important;
    padding: 1.5rem;
    border-radius: 0.15rem;
    gap: 0.5rem;
    max-height: 100px;
}
.space-btn-container{
    display: flex;
    gap: 1rem !important;
}
.discover-space-container{
    display: grid;
    grid-row-gap: 0.8rem !important;
    text-align: left !important;
    /* @media (max-width: 540px){
        text-align: center !important;
    } */
}
.space-card-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.space-btn{
    border-radius: 50px !important;
}
.space-btn span{
    text-transform: lowercase !important; 
}
.channel-container{
    display: flex;
    gap: 0.7rem;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    /* @media (max-width: 540px){
       justify-content: center;
    } */
}

.space-Adv-con{
    @media (max-width: 540px){
        display: none;
    }
}