.home-container{
    max-width: 100% !important;
    background-color: #f1f2f2;
    /* overflow-y:hidden;
    overflow-x: hidden; */
    padding-top: 1rem !important;
    @media (min-width: 540px){
        position:  relative !important;
        top: 4rem !important;
    }
}
.home-Product-container{
    /* margin: 0 !important; */
    position: relative;
    @media (max-width: 540px){
        --Grid-columns: none !important;
    }
}
.css-19r6kue-MuiContainer-root{
    padding: 0 !important;
    margin: 0 !important;
}
.header-container{
    position: fixed !important;
    z-index: 1;
    padding: 0 !important;
    
}
.home-container-box{
    display: flex;
    width: fit-content;
}
.QNA-Container{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.QNA-Share{
    border-radius: 1px solid rgb(246,246,247) ;
    background-color: rgb(246,246,247);
    padding: 0.5rem 0;
    border-radius: 35px;
    color: rgb(149,150,153);
    width: 100%;
    cursor: pointer;
}
.sidebar-container{
    height: 100vh ;
    padding-top: 1rem !important;
    overflow-y: scroll;
    overflow-x: hidden;
    /* margin-top: 5rem; */
    min-width: min-content !important;
    @media (max-width: 540px){
        display: none;
    }
}
.sidebar-footer-container{
    /* padding-left: 4rem; */
    margin-left: 4rem;
    border-top: 1px solid rgb(212,213,213);
}

.product-card-container{
    /* margin-top: 5rem; */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* padding: 0 !important; */
    padding-left: 0.2rem !important;
}



.QNA-option-container{
    display: flex;
    gap: 0.5rem;
    padding-bottom: 0.3rem;
}
.Qna-option-div{
    display: flex;
    height: 1.9rem !important;
}
.Adv-Container{
    /* margin-top: 5rem; */
    @media (max-width: 540px){
        display: none;
    }
}
.product-and-adv-container{
    /* overflow-y: scroll; */
    margin: 0 !important;
}
/* .css-x3vexg-MuiGrid2-root{
    --Grid-columns: none !important;
} */
