
.header-Box{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logo-image-container{
    padding-right: 2rem;
}

.Header-logo{
    width: 8rem;
    height: 1.7rem;
}
.css-1t4lqmc-MuiButtonBase-root-MuiTab-root{
    min-width: 50px !important;
    padding: 12px 10px !important;
}
.css-1t4lqmc-MuiButtonBase-root-MuiTab-root.Mui-selected{
    color: rgb(185,43,39) !important;
}
.css-hip9hq-MuiPaper-root-MuiAppBar-root{
    background-color: white !important;
}
.css-1aquho2-MuiTabs-indicator{
    background-color:rgb(185,43,39) !important;
}

.css-1y0e51l-MuiInputBase-root{
    font-size: 1.2rem !important;
}
.try-quora-btn {
    border-radius: 20px !important;
    color: gray !important;
    border: 1px solid gray !important;
   
}

.try-quora-btn:hover{
    background-color: rgb(241, 241, 241) !important;
}
.try-quora-btn span{
    text-transform: lowercase !important;
}
.Add-qus-btn{
    border-radius: 20px !important;
    background-color: rgb(185,43,39) !important;
   
}
.Add-qus-btn span{
    text-transform: lowercase !important;
}