.login-Layout{
    background-image: url('../../Assets/bgimg.webp');
    height: 100vh !important;
    margin: 0px !important;
    padding-top: 0 !important;
    max-width: 100vw !important;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex !important;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    
}

.login-container-wrapper{
    background-color: white;
    border-radius: 2px;
    padding-top: 10px;
    /* margin: 0rem 12rem; */
}
.login-logo-container img{
    padding: 30px 10px 10px 10px !important;
    width: 170px;
}
.main-heading{
    font-weight: bold !important;
    color: #636466;
    padding: 0 0.4rem;
    
}
.form-container-wrapper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    max-height: 250px ;
    @media (max-width: 540px){
        flex-direction: column-reverse;
        padding: 0;
        max-height: max-content;
        align-items: start;
    }
}
.login-form-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.7rem;
    padding: 0.5rem 2rem;
    @media (max-width: 540px) {
        width: auto;
        
    }
}
.frgt-lgn-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.signUp-email-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    row-gap: 0.5rem;
    padding: 0.5rem 2rem;
    @media (max-width:430px) {
        padding-bottom: 1rem;
        border-bottom: 1px solid black;
        width: auto;
    }
}

.TermsAndCondition{
    color: grey;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    width: 17.3rem;
    margin: 1rem 0;
}

.gImg{
    height: 35px;
    width: 35px;
}
.btn-signUp{
    color: #636466 !important;
    width: 290px;
    border-radius: 50px !important;
}
.btn-signUp:hover{
    background-color: #f7f7f7 !important;
}
.btn-signUp span{
    text-transform: lowercase !important; 
}
.login-heading{
    text-align: left;
    border-bottom: 1px solid #e2dede;
    width: 275px;
    font-weight: 500;
    color: #282829;
}

.email{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: bold;
    color: #282829;
    font-size: 13px;
    gap: 0.4rem;
}
.password{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    text-align: left;
    font-weight: bold;
    color: #282829;
    font-size: 13px;
}
.language{
    align-items: center;
    border-bottom: 1px solid #dee0e1;
    border-top: 1px solid #dee0e1;
    display: flex;
    font-size: 13px;
    gap: 20px;
    justify-content: center;
    padding: 15px;
}

