
.sidebarcontainer{
    padding-left: 3rem !important;
}
.Create-space{
    display: flex;
    justify-content: center;
}

.css-1f2xuhi-MuiDrawer-docked .MuiDrawer-paper{
    background-color: #F1F2F2;
}

.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root{
    column-gap: 15px;
}

.list-item-icon{
    justify-content: flex-end;
}
.list-item-icon img{
    height: 20px;
    width: 20px;
}
.footer-container{
    display: flex;
    padding-left: 25px;
    justify-content: flex-start;
    background-color: #F1F2F2 !important;
}