
.footer-container{
    display: flex;
    background-color: rgb(244, 244, 244);
    font-size: x-small;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 2px 2px;
    gap: 0.3rem;
    padding: 16px;
    font-size: 13px;
    flex-wrap: wrap;
}

