

.user-container{
    display: flex;
    margin: 0rem 5rem 0 5rem;
    @media (max-width: 540px){
        flex-direction: column;
        height: 100vh;
        position:  relative !important;
        top: 1rem !important;
    }
    @media (min-width: 540px){
        position:  relative !important;
        top: 5rem !important;
    }
}

.user-profile-container{
    width: 50%;
   
}

.user-profile-box{
    display: flex;
    column-gap: 10px;
    /* width: 50%; */
    border-bottom: 2px solid rgb(239,240,240);
    padding-bottom: 2rem;
}

.user-name{
    margin: 0 !important;
}
.user-activity-box{
    @media (max-width: 540px){
        display: none;
    }
}
.user-activity-box ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.user-activity-box ul li{
    list-style: none !important;
}

.user-profile-detail-box{
    display: flex;
    justify-content: center;
    width: 50%;
    
}

.user-highlights{
    padding-bottom: 0.4rem;
    border-bottom: 1px solid rgb(239,240,240);
}

.user-details-container{
    text-align: start;
    
}
.user-detail-box{
    padding-top: 0.5rem;
}